/* beginning of styling */
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
/* background styling */
.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #ae9bb3;
}
/* nav css styling */
nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
/* nav list styling */
nav ul li{
    display:inline-block;
    list-style: none;
    margin: 10px  20px;
}
nav ul li a{
    text-decoration: none;
    color:rgb(79, 91, 161);
    font-weight: bold;
    font-size: 35px;
}
/* added hovering to nav list */
nav ul li a:hover{
color:rgb(159, 159, 196);
}
/* added margins for About me */
.detel{
    margin-left: 8%;
    margin-top: 15%;
}
/* added margin and styling for h1 */
.detel h1{
    font-size: 50px;
    color: #792828;
    margin-bottom:20px;
}
span{
    color: #f1eee8;
}
/* Added styling for paragraph */
.detel p{
    color: beige;
    line-height: 22px;
}
/* added resume and styling */
.detel a{
    background: #ebe8e2;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color:rgb(15, 15, 15);
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}
/* portfolio image and positioning and styling */
.images{
    height: 77%;
    width: 25%;
    position: absolute;
    left: 70%;
    bottom: 0;
    transform: translateX(-50);
    transition: bottom 1s, left 1s;
}
/* projects h2 styling and positioning */
h2 {
    margin-top: 400px;
    border-bottom: 0;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    padding: 30px 10px 10px 10px;
    justify-content: left;
    color: #412b72;
font-size: 100px;
}

.row {
    margin: 22px -16px;
  }
  
  .row,
  .row > .column {
    padding: 40px;
    
  }
  
  .column {
    float: left;
    width: 45%;
  }
  
  .row:after {
    content: "";
    display: table;
  }
  
  /* Content */
  .content {
    background-color: rgb(168, 118, 118);
    padding: 40px;
  }
  /* added media */
  @media screen and (max-width: 900px) {
    .column {
      width: 70%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }



    

  